*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    background-image: url(images/asset\ 0.jpeg);
    opacity: 0.6;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.h1{
    text-align: center;
    padding-top: calc(53vh - 32px);
}
.h1 span{
    background-color: black;
    color: white;
    padding: 15px;
    letter-spacing: 10px;
}
.second h2{
    text-align: center;
    padding: 40px 0 20px 0;
}
.container{
    padding: 20px 150px 20px 150px;
    line-height: 25px;
}
.img2{
    background-image: url(images/asset\ 1.jpeg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.7;
}
.img2 h1{
    text-align: center;
    color: #f7f7f7;
    padding-top: calc(50vh - 32px);
}
.contain{
    background-color: #282e34;
    color: white;
    padding: 60px 0 60px 60px;
}
.img3{
    background-image: url(images/asset\ 2.jpeg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.7;
}
.img3 h1{
    text-align: center;
    padding-top: calc(30vh - 32px);
    color: #f7f7f7;
    letter-spacing: 18px;
}
.cont{
    background-color: #282e34;
    color: white;
    padding: 60px 0 60px 60px;
}
.heg{
    text-align: center;
    padding-top: calc(50vh - 20px);
}
.heg span{
    background-color: black;
    letter-spacing: 5px;
    color: white;
    font-weight: 100;
    padding: 15px;
}