* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Montserrat", sans-serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.logo {
    text-align: center;
    padding: 30px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-menu{
    background-color: #f08632;
    display: flex;
    justify-content: center;
}

.main-menu li a {
    color: white;
    padding: 20px 20px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}
.main-menu li:first-child{
    background-color: black;
}
.main-menu li:hover > a{
    background-color: black;
}
.main-menu li{
    position: relative;
}
.sub{
    position: absolute;
    left: 0;
    top: 100%;
    width: 150px;
    background-color: black;
    display: none;
}
.sub li a{
    padding: 10px 20px;
}
.main-menu li:hover .sub{
    display: block;
}