*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    text-decoration: underline dashed;
    text-underline-offset: 10px;
    margin: 20px 0 30px 0;
}
ul{
    list-style: none;
}
.main-menu{
    margin-left: 30%;
}
a{
    text-decoration: none;
}
.main-menu li{
    float: left;
    background-color: cadetblue;
}
.main-menu li a{
    color: white;
    padding: 20px 40px;
    display: block;
    text-transform: capitalize;
}
.sub-menu li{
    clear: both;
}
.sub-menu{
    display: none;
}
.main-menu li:hover .sub-menu{
    display: block; 
}
.main-menu li:hover > a{
    color: #000;
}
.sub-menu li:hover a{
    background-color:#fff;
}
.sub-menu li:hover{
    box-shadow: 0 0 20px cadetblue;
}
